*{
    padding: 0;
    margin: 0;
}

body {
    min-width: 490px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    text-align: center;
    font-size: large;
    color: white;
}

/* body style image */

body {
    background-image: url("../img/backview-titanic.jpg");
    height: 100%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 300%;
    background-size: auto;
}

body #colored-background {
    background-color: #0000007a;
}

h1 {
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: darkgray;
    font-size: 3em; color: #fffdd9;
    color: rgb(4, 126, 214);
    -webkit-text-stroke: darkgray 2px;
}

header hr {
    width: 100%;
    height: 5px;
    border: 0px;
    background-color: darkgrey;
}

form {
    display: block;
    max-width: 800px;
    background-color: rgba(40, 39, 49, 0.781);
    margin: 0px auto;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 5px solid #f0f5f5f1;
    border-radius: 25px;
}

div input,
div label {
    display: block;
}

.title {
    color: #d3d3d3;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    letter-spacing: 0px;
    margin-top: 10px;
}

#border-fset {
    border: 2px solid white;
    border-radius: 25px;
}

.campo {
    min-width: 30px;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    font-weight: 700;
}

.spaceline {
    border: 3px solid black;
    padding: 10px 20px;
}

#last-camp {
    padding-bottom: 20px;
}

#option-contract {
    margin-bottom: 10px;
}

#termos p {
    line-height: 0.5;
}

#termos p small span {
    text-align: center;
    height: 20px;
    width: 363px;
    font: 0.5em sans-serif;
}